In [1]:
import pandas as pd

df = pd.read_excel("Consumer360.xlsx")
df

,order_id,order_date,customer_id,total_price,first_name,last_name,address_x,email_x,phone_number_x,order_item_id,...,amount,transaction_status,shipment_id,shipment_date,carrier,tracking_number,delivery_date,shipment_status,rating,order_value
0,11331,2023-11-17,1568,2180.01,James,Evelyn,"343 Lake Ave, Harbor City, VA",jevelyn1568@customer.com,555-349-7397,4044,...,919.00,Completed,11331,2023-11-21,FedEx,TRK138159,2023-11-25,Shipped,5.0,418.86
1,7181,2024-06-14,7386,1583.76,Mary,Christina,"939 Sand Ln, Gulf Shore, NE",mchristina7386@customer.com,555-487-2713,4053,...,597.92,Completed,7181,2024-06-19,DHL,TRK776300,2024-06-27,Pending,NaN,2151.48
2,14522,2024-03-10,6277,208.32,Mary,Lawrence,"242 Garden St, Liberty City, AL",mlawrence6277@customer.com,555-617-9529,4464,...,420.56,Failed,14522,2024-03-11,DHL,TRK527168,2024-03-18,Delivered,NaN,2599.68
3,14626,2024-06-08,7164,3036.12,Mary,Julia,"696 Anchor St, Port Town, MO",mjulia7164@customer.com,555-191-2041,4707,...,425.74,Failed,14626,2024-06-13,UPS,TRK514203,2024-06-18,Shipped,NaN,2503.20
4,14441,2024-07-29,1090,445.54,James,Nicole,"444 Magnolia Blvd, Mountain View, AZ",jnicole1090@customer.com,555-074-7845,343,...,619.12,Failed,14441,2024-08-03,DHL,TRK466889,2024-08-10,Pending,NaN,83.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,12362,2024-01-19,4932,596.00,Mary,Rose,"909 Dogwood Ln, Steel City, PA",mrose4932@customer.com,555-067-1360,1624,...,568.08,Pending,12362,2024-01-20,DHL,TRK208444,2024-01-24,Pending,NaN,590.94
146,8144,2024-01-02,3242,1956.12,James,Victoria,"939 Sand Ln, Gulf Shore, NE",jvictoria3242@customer.com,555-887-0151,2175,...,4.14,Completed,8144,2024-01-07,DHL,TRK986233,2024-01-14,Delivered,NaN,171.22
147,3329,2024-03-07,5908,2173.20,Mary,Evelyn,"676 Hill St, Pleasant Valley, UT",mevelyn5908@customer.com,555-782-5226,3135,...,3.82,Completed,3329,2024-03-10,DHL,TRK025007,2024-03-16,Cancelled,NaN,1315.71
148,12936,2024-02-22,2854,1769.19,James,Natalie,"363 Bay St, Lakeside, IA",jnatalie2854@customer.com,555-882-6911,3265,...,151.56,Pending,12936,2024-02-27,FedEx,TRK023527,2024-03-05,Shipped,NaN,785.22
149,8308,2024-09-22,6857,2919.03,Mary,Wayne,"141 Shore Ln, Island City, MA",mwayne6857@customer.com,555-330-2770,3414,...,936.90,Completed,8308,2024-09-27,UPS,TRK243028,2024-10-03,Pending,NaN,1610.73

In [2]:
rfm_df = df[['customer_id', 'order_date', 'order_value']]
rfm_df

     customer_id  order_date  order_value
0           1568  2023-11-17       418.86
1           7386  2024-06-14      2151.48
2           6277  2024-03-10      2599.68
3           7164  2024-06-08      2503.20
4           1090  2024-07-29        83.35
..           ...         ...          ...
145         4932  2024-01-19       590.94
146         3242  2024-01-02       171.22
147         5908  2024-03-07      1315.71
148         2854  2024-02-22       785.22
149         6857  2024-09-22      1610.73

[150 rows x 3 columns]

In [3]:
rfm_df['order_date'] = pd.to_datetime(rfm_df['order_date'])
rfm_df['order_date']

C:\Users\punek\AppData\Local\Temp\ipykernel_32284\1374679590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rfm_df['order_date'] = pd.to_datetime(rfm_df['order_date'])

0     2023-11-17
1     2024-06-14
2     2024-03-10
3     2024-06-08
4     2024-07-29
         ...
145   2024-01-19
146   2024-01-02
147   2024-03-07
148   2024-02-22
149   2024-09-22
Name: order_date, Length: 150, dtype: datetime64[ns]

In [4]:
reference_date = rfm_df['order_date'].max() + pd.Timedelta(days=1)
reference_date

Timestamp('2024-11-05 00:00:00')

In [5]:
rfm = rfm_df.groupby('customer_id').agg({
    'order_date': lambda x: (reference_date - x.max()).days,
    'customer_id': 'count',
    'order_value': 'sum'
})
rfm

             order_date  customer_id  order_value
customer_id
103                 262            1      1385.97
113                 191            1       510.93
194                 246            1      1433.02
207                  81            1       313.50
356                 332            1       785.22
...                 ...          ...          ...
9803                 73            1      8242.60
9809                259            1      3564.30
9826                256            1       281.62
9845                313            1       339.34
9866                200            1       719.13

[148 rows x 3 columns]

In [6]:
rfm.columns = ['Recency', 'Frequency', 'Monetary']
rfm.columns

Index(['Recency', 'Frequency', 'Monetary'], dtype='object')

In [7]:
rfm['R_Score'] = pd.qcut(rfm['Recency'], 5, labels=[5,4,3,2,1])
rfm['R_Score']

customer_id
103     2
113     3
194     2
207     4
356     1
       ..
9803    5
9809    2
9826    2
9845    1
9866    3
Name: R_Score, Length: 148, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [8]:
rfm['F_Score'] = pd.cut(
    rfm['Frequency'].rank(method='first'),
    5,
    labels=[1,2,3,4,5]
)
rfm['F_Score']

customer_id
103     1
113     1
194     1
207     1
356     1
       ..
9803    5
9809    5
9826    5
9845    5
9866    5
Name: F_Score, Length: 148, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [9]:
rfm['M_Score'] = pd.qcut(rfm['Monetary'], 5, labels=[1,2,3,4,5])
rfm['M_Score']

customer_id
103     4
113     2
194     4
207     1
356     3
       ..
9803    5
9809    5
9826    1
9845    1
9866    3
Name: M_Score, Length: 148, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [10]:
rfm['RFM_Score'] = (
    rfm['R_Score'].astype(int) +
    rfm['F_Score'].astype(int) +
    rfm['M_Score'].astype(int)
)
rfm['RFM_Score']

customer_id
103      7
113      6
194      7
207      6
356      5
        ..
9803    15
9809    12
9826     8
9845     7
9866    11
Name: RFM_Score, Length: 148, dtype: int64

In [11]:
def segment_customer(score):
    if score >= 13:
        return "Whales"
    elif score >= 9:
        return "Loyal Customers"
    elif score >= 6:
        return "Potential"
    else:
        return "Churn Risk"

rfm['Segment'] = rfm['RFM_Score'].apply(segment_customer)
rfm['Segment']

customer_id
103           Potential
113           Potential
194           Potential
207           Potential
356          Churn Risk
             ...
9803             Whales
9809    Loyal Customers
9826          Potential
9845          Potential
9866    Loyal Customers
Name: Segment, Length: 148, dtype: object

In [12]:
print(rfm)

             Recency  Frequency  Monetary R_Score F_Score M_Score  RFM_Score  \
customer_id
103              262          1   1385.97       2       1       4          7
113              191          1    510.93       3       1       2          6
194              246          1   1433.02       2       1       4          7
207               81          1    313.50       4       1       1          6
356              332          1    785.22       1       1       3          5
...              ...        ...       ...     ...     ...     ...        ...
9803              73          1   8242.60       5       5       5         15
9809             259          1   3564.30       2       5       5         12
9826             256          1    281.62       2       5       1          8
9845             313          1    339.34       1       5       1          7
9866             200          1    719.13       3       5       3         11

                     Segment
customer_id
103                Potential
113                Potential
194                Potential
207                Potential
356               Churn Risk
...                      ...
9803                  Whales
9809         Loyal Customers
9826               Potential
9845               Potential
9866         Loyal Customers

[148 rows x 8 columns]